.sidebar {
  padding: 1em 2em;
  height: 100vh;
}

.note-preview {
  padding: 1em 1em 0em;
  border-bottom: 1px solid grey;
  &:hover {
    background-color: rgb(224, 221, 221);
  }
}

.preview-text-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 3fr;
}
